[uwsgi]

chdir = /var/www/ligonine

# virtualenv path
home = /var/www/venvs/ligonine


module = ligonine.wsgi:application

# django settings module
env = DJANGO_SETTINGS_MODULE=ligonine.settings
env = PRIVATEIP={{databaseip}}
# master
master = true


# maximum number of worker processes
processes = 10

# the socket
socket = /var/www/ligonine/ligonine.sock


# appropriate permissions
chmod-socket = 664

uid = www-data
gid = www-data


# clear environment on exit
vacuum = true
