server {

	listen 80;
    server_name {{pubip}};

	error_log /var/www/ligonine/log/error.log;
	access_log /var/www/ligonine/log/access.log;

	location /static {
        root /var/www/ligonine;
    }
    location /media {
        root /var/www/ligonine;
    }

	location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/var/www/ligonine/ligonine.sock;
    }
}
